@tailwind base;
@tailwind components;
@tailwind utilities;

/* pickup the Inter var style */
@import url('./font/stylesheet.css');

body {
  margin: 0;
  font-family: 'Inter var', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.code-container {
  background-color: "#0c163b";
  font-family: "Inter var";
  color: "white"
}
